# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [25]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [26]:
raw_data = {"name": ['Vulpix', 'Scyther','Pichu','Pidgey'],
            "evolution": ['Ninetales','Scizor','Pikachu','Pidgetto'],
            "type": ['Fire', 'Bug', 'Electric', 'Normal'],
            "hp": [44, 50, 20, 53],
            "pokedex": ['yes', 'no','yes','yes']                        
            }

### Step 3. Assign it to a variable called pokemon

In [27]:
pokemon = pd.DataFrame(raw_data)
pokemon

      name  evolution      type  hp pokedex
0   Vulpix  Ninetales      Fire  44     yes
1  Scyther     Scizor       Bug  50      no
2    Pichu    Pikachu  Electric  20     yes
3   Pidgey   Pidgetto    Normal  53     yes

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [28]:
pokemon = pokemon[['name','type','hp','evolution','pokedex']]
pokemon

      name      type  hp  evolution pokedex
0   Vulpix      Fire  44  Ninetales     yes
1  Scyther       Bug  50     Scizor      no
2    Pichu  Electric  20    Pikachu     yes
3   Pidgey    Normal  53   Pidgetto     yes

### Step 5. Add another column called place, and insert what you have in mind.

In [29]:
pokemon['place'] =['garden','forest','beach','plains']
pokemon

<ipython-input-29-f054c3d540d0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['place'] =['garden','forest','beach','plains']

      name      type  hp  evolution pokedex   place
0   Vulpix      Fire  44  Ninetales     yes  garden
1  Scyther       Bug  50     Scizor      no  forest
2    Pichu  Electric  20    Pikachu     yes   beach
3   Pidgey    Normal  53   Pidgetto     yes  plains

### Step 6. Present the type of each column

In [30]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [47]:
#where is Pichu located?
findPichu = (pokemon['name'] == 'Pichu')
pokemon.loc[findPichu,'place']

2    beach
Name: place, dtype: object